[alias]
        co = checkout
        ci = commit
        st = status -uno --porcelain
        br = branch
        lb = branch -v -v
        pwd = rev-parse --abbrev-ref HEAD
        h = log --pretty=format:\"%h %ad | %s%d [%an]\" --date=short
        type = cat-file -t
        dump = cat-file -p
        conflicts = diff --name-only --diff-filter=U
        lstag = ls-remote -t origin refs/tags/$1
        unstage = reset HEAD --
        unchange = checkout --
        wipe = clean -d -x -f
        ffpull = pull --ff-only
        ffmerge = merge --ff-only
[user]
        name = mrbald
        email = mail@bobah.net
[diff]
        tool = tkdiff
[difftool "tkdiff"]
        cmd = tkdiff "$LOCAL" "$REMOTE"
[difftool]
        prompt = false
[merge]
        conflictstyle = diff3
[core]
        askPass = ~/bin/git_password.sh
[push]
        default = simple
[color "branch"]
        upstream = bold blue

